My project
AsteroidsKefir/Assets/Plugins/Zenject/OptionalExtras/ReflectionBaking/Zenject-ReflectionBaking.csproj.meta
AsteroidsKefir/Assets/Plugins/Zenject/OptionalExtras/Signals/Zenject-Signals.csproj.meta
AsteroidsKefir/Assets/Plugins/Zenject/Source/Zenject.csproj.meta
