My project
Asteroids/Assets/Plugins/Zenject/OptionalExtras/ReflectionBaking/Zenject-ReflectionBaking.csproj.meta
Asteroids/Assets/Plugins/Zenject/OptionalExtras/Signals/Zenject-Signals.csproj.meta
Asteroids/Assets/Plugins/Zenject/Source/Zenject.csproj.meta
